* {
	 box-sizing: border-box;
	 border-radius: 0 !important;
}

 body {
	 background: #F6F3F1;
	 color: #5f464b;
	 padding: 0;
	 font-family: 'Raleway', sans-serif;
}

/* Überschrift */

 h1 {
	 text-align: center;
	 font-family: 'Raleway', sans-serif;
}

.top-container {
    height: 200px;
    top: 0;
    padding: 65px 0 0;
    background: #F6F3F1;
    width: 100%;
}

/* Farbe des Menüs */

#filtermenue {
    background: #16697a;
}

.card {
    color: #f6f3f1;
}


/* Styling der Buttons von Bootstrap */

.btn-outline-warning {
    background-color: #f6f3f1;
    color: #5f464b;
    border-color: #ffa62b !important;
    border: 4px solid;

}

.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active, .btn-outline-warning.active, .open>.dropdown-toggle.btn-outline-warning {
    color: #5f464b;
    background-color: #ffa62b;
    border-color: #ffa62b;
}

.btn-outline-warning:a {
    color: #5f464b
}

.nohover {
    background-color: #f6f3f1;
    color: #5f464b;
    border-color: #ffa62b !important;
    border: 4px solid;
    margin: 2px;
}


.btn.nohover:hover {
    cursor:default !important;
}

/* Zeitstrahl-Linie */

 .timeline {
	 position: relative;
	 padding: 1rem;
	 margin: 0 auto;
	 max-width: 1300px;
}

 .timeline:before {
	 content: '';
	 position: absolute;
	 height: 100%;
	 border: 2px solid #ffa62b;
	 right: 40px;
	 top: 0;

}
 .timeline:after {
	 content: "";
	 display: table;
	 clear: both;
}

/* Position der Zeitsrahl-Linie (responsive) */

 @media screen and (min-width: 700px) {
	 .timeline {
		 padding: 2rem;
	}
	 .timeline:before {
		 left: calc(50% - 1px);
		 right: auto;
	}
}

/* Gestaltung der Boxen */

 .timeline__item {
	 padding: 1rem;
	 border: 4px solid #16697a;
	 border-image-slice: 1;
	 position: relative;
	 margin: 1rem 3rem 1rem 1rem;
	 clear: both;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 }

.timeline__item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);

}

 .timeline__item:after, .timeline__item:before {
	 content: '';
	 position: absolute;
}
 .timeline__item:before {
	 right: -10px;
	 top: calc(50% - 5px);
	 border-style: solid;
	 border-color: #16697a #16697a transparent transparent;
	 border-width: 10px;
	 transform: rotate(45deg);
}

/* Position der Boxen (responsive) */

 @media screen and (min-width: 700px) {
	 .timeline__item {
		 width: 44%;
		 margin: 1rem;
		 border: 4px solid #16697a;
	}

	/* Jede zweite Box wird rechts angeordnet */

	 .timeline__item:nth-of-type(2n) {
		 float: right;
		 margin: 1rem;
		 border-image-slice: 1;
	}

	/* Pfeilanzeige */

	 .timeline__item:nth-of-type(2n):before {
		 right: auto;
		 left: -10px;
		 border-color: transparent transparent #16697a #16697a;
	}
}

/* Datumsboxen des Zeitstrahls */

 .timeline__item--year {
	 text-align: center;
	 max-width: 150px;
	 margin: 0 48px 0 auto;
	 font-size: 1.8rem;
	 background-color: #F6F3F1;
	 line-height: 1;
	 border-image: none;
	 padding: 0.5rem 1rem 1rem;
}

/* ausblenden des Pfeils bei den Datumsboxen des Zeitstrahls */

 .timeline__item--year:before {
	 display: none;
}

/* positionieren der Datumsboxen */

 @media screen and (min-width: 700px) {
	 .timeline__item--year {
		 text-align: center;
		 margin: 0 auto;
	}
	 .timeline__item--year:nth-of-type(2n) {
		 float: none;
		 margin: 0 auto;
		 border-image: none;
	}
	 .timeline__item--year:nth-of-type(2n):before {
		 display: none;
	}
}
 .timeline__title {
	 margin: 0;
	 font-family: 'Raleway', sans-serif;
	 color: #ffa62b;
	 font-size: 2.5rem;
	 border: none;
	 border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
	 border-image-slice: 1;
	 text-align: center;
}
 /*.timeline__blurb {
	 line-height: 1.5;
	 font-size: 1rem;
	 margin: 0.5rem 0 0;
}*/
.center {
     display: flex;
     justify-content: center;
     text-align: center;


}
.image {
    border: none;
	border-image: linear-gradient(to right, skyblue 0%, hotpink 100%);
	border-image-slice: 1;
}

/* Abgrenzungslinien Name und Amt */

hr {
    border: 2px solid #ffa62b;

}

/* Gestaltung des Links */

.a:link {
    color: #16697a;
    text-decoration: underline;

}


.a:visited {
  color: #16697a;
  text-decoration: underline;
}

.a:hover {
  color: #ef767a;
}

/* Positionierung des Box-Inhalts */

.picture {
  width: 60%
}

.inhalt {
    width: 100%;
}

.name {

    text-align: center;
}

.description {

    text-align: left;

}


img {
    width: 80%;
    object-fit: cover;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}




.flex-container {
  display: flex;
  flex-direction: row;
}
