@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');
body
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #070600;
}

h1
{
    text-align: center;
    font-size: 50px;
}

.timeline
{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width 1000px;
    box-sizing: border-box;
}

.timeline:before
{
    content: '';
    position: absolute;
    left: 50%;
    width: 3px;
    height: 100%;
    background: #B7B7B8;

}

.timeline ul
{
    margin: 0;
    padding: 0;
}

.timeline ul li
{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd)
{
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even)
{
    float: right;
    text-align: left;
    clear: both;
}

.content
{
    padding-bottom: 20px;
}

.timeline ul li:nth-child(odd):before
{
    content: '';
    position: absolute;
    top: 24px;
    right: -11px;
    width: 20px;
    height: 20px;
    background: #6B4E71;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #B7B7B8;
}

.timeline ul li:nth-child(even):before
{
    content: '';
    position: absolute;
    top: 24px;
    left: -6px;
    width: 15px;
    height: 15px;
    background: #6B4E71;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #B7B7B8;
}

.timeline ul li h3
{
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #4B4E6D;
}

.timeline ul li p
{
    margin: 10px 0 0;
    padding: 0;
}

.timeline ul li h4
{
    margin: 0;
    padding: 0;
}

.timeline ul li .time
{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline ul li:nth-child(odd) .time
{
    position: absolute;
    top: 15px;
    right: -165px;
    margin: 0;
    padding: 5px 32px;
    background: #6B4E71;
    color: #fff;
    border-radius: 2px;
    font-size: 25px;
}

.timeline ul li:nth-child(even) .time
{
    position: absolute;
    top: 15px;
    left: -165px;
    margin: 0;
    padding: 5px 32px;
    background: #6B4E71;
    color: #fff;
    border-radius: 2px;
    font-size: 25px;
}

@media (max-width: 1000px)
{
    .timeline
    {
        width: 100%;
    }
}

@media (max-width: 767px)
{
    h1
    {
        text-align: center;
        font-size: 35px;
    }

    .timeline
    {
        width: 100%;
    }

    .timeline:before
    {
        left: 20px;
    }

    .timeline ul li:nth-child(odd),
    .timeline ul li:nth-child(even)
    {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;
    }

    .timeline ul li:nth-child(odd):before,
    .timeline ul li:nth-child(even):before
    {
        top: -18px;
        left: 16px;
    }

    .timeline ul li:nth-child(odd) .time,
    .timeline ul li:nth-child(even) .time
    {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}
