{% extends 'timeline/base.html' %}
{% block content %}
{% load static %}


<h1>Staatsoberhäupter der Pressemappe des 20. Jahrhunderts aus Deutschland</h1>

<div class="timeline" id="myTimeline">

{% if personen %}
    {% for person in personen %}
    <h2 class="timeline__item timeline__item--year">{{person.position_held_startdate}}</h2>
     <div class="timeline__item">
         <h2 class="timeline__title">{{person.name}}</h2>
         <hr>
         <h4 class="center">{{person.position_held}} <br>{{person.position_held_startdate}} bis {{person.position_held_enddate}}</h4>
         <hr>
         <h5>Lebensdaten: {{person.birthday}} bis {{person.deathday}} </h5>
         <h5>Land: {{person.country}}</h5>
         <h5>Pressemappe-ID: {{person.pm20id}}</h5>
         <h5>Wikidata-Objekt: <a href={{person.wikidata_object}}>hier klicken</a></h5>
         <div class="center">
         {% if person.picture != None %}
             <img class="image" src="{{ person.picture }}" width="100px">
         {% else %}
            <p>Leider kein Bild vorhanden</p>
         {% endif %}
         </div>


     </div>
    {% endfor %}
{% else %}
    <p>Keine Daten</p>
{% endif %}

</div>
{% endblock content %}
