{% extends 'timeline/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}




<div class="top-container">
    <h1>Staatsoberhäupter der Pressemappe des 20. Jahrhunderts</h1>
</div>



<div class="sticky-top">

 <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
 </div>

    <div class="row">
        <div class="col-12">
            <!--<div class="content">-->
                <div class="card text-center mb-3" id="filtermenue">
                    <div class="card-header">
                        <button class="btn btn-outline-warning" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
                            Filteroptionen
                        </button>
                        <!-- falls man den Button nicht in der vollen Länge haben möchte, dann aria-expanded="false"-->
                    </div>
                    <div class="collapse" id="collapseFilter">
                        <div class="card-body">
                        <form method="get">
                            {{myFilter.form}} <!--{{myFilter.form|linebreaks}}-->
                            <br>
                            <!--<small>Eingabeformat: Jahr-Monat-Tag (z.B. 1900-03-22)</small><br>-->
                            <small>Info: Bitte benutzen Sie das Format Jahr-Monat-Tag für Zeiträume
                                </small>
                            <br>
                            <button class="btn btn-outline-warning" type="submit" data-toggle="tooltip" data-placement="bottom"
                                    title="Suchfilter können kombiniert werden">Suche</button>
                                    <a class="btn btn-outline-warning" href="/timeline/show">zurück</a>

                        </form>

                        </div>
                    </div>
                </div>
    <!--</div>-->
        </div>
    </div>
</div>
<!--<button class="btn btn-success"><a href="">Deutschland</a></button>-->




<div class="timeline">

{% if personen %}
    <button class="btn nohover pull-right" style="cursor:default;">Insgesamt {{personen.count}} Datensätze</button>
    <button class="btn nohover pull-right" style="cursor:default;">Zeitraum {{firstentry}} bis {{lastentry}}</button>
   <!-- <a href="#" class="previous round">&#708;</a> <br>
    <a href="#" class="next round">&#709;</a> -->
    {% for person in personen %}
    <h2 class="timeline__item timeline__item--year">{{person.jahr}}</h2>
    <div class="timeline__item">
        <div class="box">
            <div class="inhalt">
                <div class="flex-container">
                    <div class="picture">
                        {% if person.picture != None %}
                            <img src="{{ person.picture }}">
                        {% else %}
                           <img src="{% static "images/avatar.jpeg" %}" alt="Kein Bild vorhanden">
                        {% endif %}
                    </div>
                    <div class="name">
                        <h2>{{person.name}}</h2>
                        <hr>
                        <h4>{{person.position_held}} <br><hr>{{person.position_held_start_EU}} bis {{person.position_held_end_EU}}</h4>
                        <hr>
                    </div>
                </div>
                <br>
                <button class="btn btn-outline-warning" type="button" data-toggle="collapse" data-target="#collapseDescription">
                    +
                </button>
                <div class="collapse" id="collapseDescription">
                    <h5>Lebensdaten: {{person.birthdayEU}} bis {{person.deathdayEU}} </h5>
                    {% if person.predecessor != None %}
                        <h5>Vorgänger: {{person.predecessor}}</h5>
                    {% endif %}
                    {% if person.successor != None %}
                        <h5>Nachfolger: {{person.successor}}</h5>
                    {% endif %}
                    <h5>Land: {{person.country}}</h5>
                    <h5>Pressemappe-Objekt: <a class='a'  href="http://webopac.hwwa.de/PresseMappe20E/Digiview_MID.cfm?mid=P{{person.pm20id|slice:'3:'}}" target="_blank">hier klicken</a></h5>
                    <h5>Wikidata-Objekt: <a class="a" href={{person.wikidata_object}} target="_blank">hier klicken</a></h5>
                </div>
            </div>
        </div>
     </div>
    {% endfor %}

{% else %}
    <p>Keine Suchergebisse</p>
    <a class="btn btn-outline-warning" href="/timeline/show">zurück</a>
{% endif %}
</div>

<a class="btn btn-outline-dark" href="#top">zum Anfang &uarr;</a>



{% endblock content%}


