{% extends 'timeline/base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}




<div class="top-container">
    <h1>Staatsoberhäupter der Pressemappe <br> des 20. Jahrhunderts</h1>
</div>



<div class="sticky-top">

 <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
 </div>

    <div class="row">
        <div class="col-12">
            <!--<div class="content">-->
                <div class="card text-center mb-3" id="filtermenue">
                    <div class="card-header">
                        <button class="btn btn-outline-warning" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
                            Filteroptionen
                        </button>
                        <!-- falls man den Button nicht in der vollen Länge haben möchte, dann aria-expanded="false"-->
                    </div>
                    <div class="collapse" id="collapseFilter">
                        <div class="card-body">
                        <form method="get" class="form-inline">
                            <div class="d-flex justify-content-center flex-wrap">
                                <div class="form-group col-md-4">
                                    <label class="text-light">Name: </label>
                                {{myFilter.form.name}}
                                    <label class="text-light">Position: </label>
                                {{myFilter.form.position_held}}
                                    <label class="text-light">Geschlecht: </label>
                                {{myFilter.form.gender}}
                                     <label class="text-light">Land: </label>
                                {{myFilter.form.country}}
                                    <label class="text-light">Religion: </label>
                                {{myFilter.form.religion}}
                                    <label class="text-light">Regierungsbeginn: </label>
                                {{myFilter.form.StartDatum}}
                                    <label class="text-light">Regierungsende: </label>
                                {{myFilter.form.EndDatum}}
                                 <div class="d-flex justify-content-center">
                                <!--<small>Eingabeformat: Jahr-Monat-Tag (z.B. 1900-03-22)</small><br>-->
                                <small>Info: Bitte benutzen Sie das Format Jahr-Monat-Tag für Zeiträume</small>
                            </div>
                                </div>


                                <div class="form-group col-md-0">
                                </div>

                             <!--{{myFilter.form|linebreaks}}-->
                            </div>


                            <br>
                        </form>
                              <div class="Searchbutton">
                                <button class="btn btn-outline-warning" type="submit" data-toggle="tooltip" data-placement="bottom"
                                        title="Suchfilter können kombiniert werden">Suche</button>
                                        <a class="btn btn-outline-warning" href="/timeline/show">zurück</a>
                            </div>
                        </div>
                    </div>
                </div>
            <!--</div>-->
        </div>
    </div>
</div>
<!--<button class="btn btn-success"><a href="">Deutschland</a></button>-->

<button class="btn nohover" style="cursor:default;">Insgesamt {{personen.count}} Treffer</button>
<br>
<button class="btn nohover" style="cursor:default;">Zeitraum {{firstentry}} bis {{lastentry}}</button>




<div class="timeline">

{% if personen %}

   <!-- <a href="#" class="previous round">&#708;</a> <br>
    <a href="#" class="next round">&#709;</a> -->
    {% for person in personen %}
    <h2 class="timeline__item timeline__item--year">{{person.jahr}}</h2>
    <div class="timeline__item">
        <div class="box">
            <div class="inhalt">
                <div class="flex-container">
                    <div class="picture">
                        {% if person.picture != None %}
                            <img src="{{ person.picture }}">
                        {% else %}
                           <img src="{% static "images/avatar.jpeg" %}" alt="Kein Bild vorhanden">
                        {% endif %}
                    </div>
                    <div class="name">
                        <h2>{{person.name}}</h2>
                        <hr>
                        <h4>{{person.position_held}} <br><hr>{{person.position_held_start_EU}} bis {{person.position_held_end_EU}}</h4>
                        <hr>
                    </div>
                </div>
                <br>
                <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#collapseDescription{{person.id}}">
                    +
                </button>
                <div class="collapse" id=collapseDescription{{person.id}}>
                    <br>
                    <h5><b>Lebensdaten:</b> {{person.birthdayEU}} bis {{person.deathdayEU}} </h5>
                    {% if person.predecessor != None %}
                    <h5><b>Vorgänger:</b> {{person.predecessor}}</h5>
                    {% endif %}
                    {% if person.successor != None %}
                    <h5><b>Nachfolger:</b> {{person.successor}}</h5>
                    {% endif %}
                    <h5><b>Land:</b> {{person.country}}</h5>
                    <h5><b>Pressemappe-Objekt:</b> <a class='a'  href="http://webopac.hwwa.de/PresseMappe20E/Digiview_MID.cfm?mid=P{{person.pm20id|slice:'3:'}}" target="_blank">hier klicken</a></h5>
                    <h5><b>Wikidata-Objekt:</b> <a class="a" href={{person.wikidata_object}} target="_blank">hier klicken</a></h5>
                </div>
            </div>
        </div>
     </div>
    {% endfor %}

<div class="btn-group-vertical scroll-buttons">
    <button class="btn arrow" type="button" onclick="scrollWin(0, -10000)" title="nach oben">
        <i class="fas fa-chevron-up fa-lg"></i>
    </button>
    <button class="btn arrow" type="button" onclick="scrollWin(0, 10000)" title="nach unten">
        <i class="fas fa-chevron-down fa-lg"></i>
    </button>
</div>

{% else %}
    <p>Keine Suchergebisse</p>
    <a class="btn btn-outline-warning" href="/timeline/show">zurück</a>
{% endif %}
</div>

<a class="btn btn-outline-dark" href="#top">zum Anfang &uarr;</a>


<script>
function scrollWin(x, y) {
  window.scrollBy(x, y);
}
</script>


{% endblock content%}


