{% extends 'timeline/base.html' %}
{% block content %}
{% load static %}

<h1>Staatsoberhäupter der Pressemappe des 20. Jahrhunderts</h1>
<div class="row">
    <div class="col-12">
        <!--<div class="content">-->
            <div class="card text-white text-center bg-dark mb-3">
                <div class="card-header">
                    <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target="#collapseFilter" aria-expanded="true" aria-controls="collapseFilter">
                        Filteroptionen
                    </button>
                </div>
                <div class="collapse" id="collapseFilter">
                    <div class="card-body">
                    <form method="get">
                        {{myFilter.form}} <!--{{myFilter.form|linebreaks}}-->
                        <br>
                        <!--<small>Eingabeformat: Jahr-Monat-Tag (z.B. 1900-03-22)</small><br>-->

                        <button class="btn btn-secondary" type="submit">Suche</button>
                         <p>Bitte benutzen Sie das Format Jahr-Monat-Tag für Zeiträume</p>
                        <p>Mehrere Suchfilter können in einer "Und"-Anfrage kombiniert werden</p>
                    </form>
                    </div>
                </div>
            </div>
<!--</div>-->
    </div>
</div>
<!--<button class="btn btn-success"><a href="">Deutschland</a></button>-->

<div class="timeline" id="myTimeline">

{% if personen %}
    {% for person in personen %}
    <h2 class="timeline__item timeline__item--year">{{person.position_held_startdate|slice:":4" }}</h2>
     <div class="timeline__item">
         <h2 class="timeline__title">{{person.name}}</h2>
       <!--<div class="flex-container">-->
        <!--<div class="inhalt">-->
         <!--<div class="name"> <h2>{{person.name}}</h2>-->

         <hr>
         <h4 class="center">{{person.position_held}} <br>{{person.position_held_start_EU}} bis {{person.position_held_end_EU}}</h4>
         <hr>
         <h5>Lebensdaten: {{person.birthdayEU}} bis {{person.deathdayEU}} </h5>
         <h5>Land: {{person.country}}</h5>
         <h5>Pressemappe-ID: {{person.pm20id}}</h5>
         <h5>Wikidata-Objekt: <a href={{person.wikidata_object}} target="_blank">hier klicken</a></h5>
         <div class="center">
         {% if person.picture != None %}
             <img class="image" src="{{ person.picture }}" width="100px">
         {% else %}
            <p>Leider kein Bild vorhanden</p>
         {% endif %}
         </div>


     </div>
    {% endfor %}
{% else %}
    <p>Keine Daten</p>
{% endif %}

</div>


{% endblock content %}






